.dark-overlay {
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  opacity: 0.7;
  transition: opacity var(--overlay-duration) ease-in-out;
}

.overlay-exit {
  opacity: 0.7;
}

.overlay-exit-active {
  opacity: 0;
  transition: opacity var(--overlay-duration) ease-in-out;
}
