/* =====================================================
   FOOTER
   ===================================================== */

.footer {
  position: absolute;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 15px;
  width: calc(var(--sizeProject) * 3);
  text-align: center;
}

@media (max-height: 600px) {
  .footer {
    display: none;
  }
}
