/* =====================================================
   HEADER & SUBTITLE
   ===================================================== */

.header {
  font-size: 38px;
  color: rgba(46, 46, 46, 0.872);
  margin-top: 20px;
  letter-spacing: 10px;
  animation: appear 0.3s ease-in;
  text-align: center;
}

.subtitle {
  text-align: center;

  margin: 5px 0 0px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 10px;
  animation: appear 0.6s ease-in;
}

.subtitle > span {
  letter-spacing: 12px;
  font-size: 24px;
  color: rgba(89, 87, 87, 0.872);
}

/* =====================================================
   RESPONSIVE - MOBILE
   ===================================================== */

@media (max-width: 850px) {
  .header {
    font-size: 30px;
    letter-spacing: 4px;
  }

  .subtitle > span {
    letter-spacing: 8px;
    font-size: 20px;
  }
}
@media (max-height: 500px) {
  .header {
    font-size: 20px;
    letter-spacing: 4px;
  }

  .subtitle > span {
    letter-spacing: 8px;
    font-size: 14px;
  }
}
