/* =====================================================
   MODAL COMPONENT
   ===================================================== */

.modale {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.modale span {
  font-size: 10px;
  color: white;
}

.modale > img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  object-fit: contain;
  left: 0;
  top: 0;
  background-color: white;
}

.closeModal {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1000;
  cursor: pointer;
  transition: 0.1s;
}

.closeModal:hover {
  transform: scale(1.1);
}

/* =====================================================
   MODAL DESCRIPTION
   ===================================================== */

.description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.description::-webkit-scrollbar {
  display: none;
}

.description > div {
  position: relative;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 5px 20px 0px 20px;
  margin-top: 80%;
  height: calc(100% - 5px);
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description p {
  font-family: "Hind Siliguri", sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 12px;
  font-size: 16px;
  color: white;
  text-align: center;
  word-spacing: 2px;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0 10px 0;
  color: white;
  text-align: center;
}

.chevron {
  transform: rotate(-90deg);
  transition: all 0.2s;
}

.chevronDown {
  transform: rotate(90deg);
}

/* =====================================================
   MODAL BUTTONS
   ===================================================== */

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.description a {
  display: flex;
  align-items: center;
  background-color: #d8b4a0;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  opacity: 1;
  font-weight: bold;
  margin: 10px;
  font-size: 18px;
  transition: all 0.2s;
  color: black;
}

.description a:hover {
  background-color: #e4c4b3;
  transform: scale(1.05);
}

/* =====================================================
   RESPONSIVE - MOBILE
   ===================================================== */

@media (max-width: 850px) {
  .description p {
    font-size: 12px;
    color: white;
    margin-bottom: 8px;
    word-spacing: 0px;
  }

  h2 {
    font-size: 14px;
    margin: 5px 0 5px 0;
  }

  .description > div {
    padding: 5px 5px 0px 5px;
  }

  .chevron {
    height: 20px;
  }

  .description a {
    font-size: 11px;
    padding: 7px 25px 7px 25px;
  }

  .buttons {
    padding: 5px;
  }
}
