/* # # # # # # # # # RESET # # # # # # # # #  */

* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  color: black;
}

body {
  overflow: scroll;
  background-color: #fbf2ec;
  -webkit-tap-highlight-color: transparent;
  --sizeProject: 170px;
  --transTime: 1s;
}

/* # # # # # # # # # MAIN PAGE # # # # # # # # #  */

.app {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-bottom: 50px; */
  /* border: 2px solid red; */
  height: 100vh;
}

.header {
  font-size: 38px;
  color: rgba(46, 46, 46, 0.872);
  margin-top: 20px;
  letter-spacing: 10px;
  animation: appear 0.5s ease-in;
}

.subtitle {
  margin: 5px 0 0px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 10px;
  animation: appear 1s ease-in;
}
/* Selected project */
.subtitle > span {
  letter-spacing: 12px;
  font-size: 24px;
  color: rgba(89, 87, 87, 0.872);
}

.projectscontenair {
  width: calc((var(--sizeProject) * 3 - 5px));
  height: calc((var(--sizeProject) * 3 - 5px));
  animation: appear 0.8s ease-in;
}

/* # # # # # # # # # CART # # # # # # # # #  */

.project {
  position: absolute;
  transition: all var(--transTime) ease;
  z-index: 0;
}

.projectPos0 {
  transform: translate(0, 0);
}
.projectPos1 {
  transform: translate(calc(var(--sizeProject) * 1), 0);
}
.projectPos2 {
  transform: translate(calc(var(--sizeProject) * 2), 0);
}
.projectPos3 {
  transform: translate(0, calc(var(--sizeProject) * 1));
}
.projectPos4 {
  transform: translate(
    calc(var(--sizeProject) * 1),
    calc(var(--sizeProject) * 1)
  );
}
.projectPos5 {
  transform: translate(
    calc(var(--sizeProject) * 2),
    calc(var(--sizeProject) * 1)
  );
}
.projectPos6 {
  transform: translate(0, calc(var(--sizeProject) * 2));
}
.projectPos7 {
  transform: translate(
    calc(var(--sizeProject) * 1),
    calc(var(--sizeProject) * 2)
  );
}
.projectPos8 {
  transform: translate(
    calc(var(--sizeProject) * 2),
    calc(var(--sizeProject) * 2)
  );
}

.cart {
  /* flexand pos */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Style */
  width: calc((var(--sizeProject) - 5px));
  height: calc((var(--sizeProject) - 5px));

  /* background-color: #303030; */
  background-color: #303030;
  /* margin: 3px; */
  overflow: hidden;
}
.cart:hover {
  cursor: pointer;
}

/* # # # # # # # # # TITLES # # # # # # # # #  */
.titlesout {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}
.titlesin {
  /* transform: translate(-14px, -55px); */
  width: 100%;
  margin-bottom: 50px;
  /* height: 30%; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
  display: flex;
  transition: all 0.3s ease;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.15) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  /* background-color: black; */
}

.t1 {
  color: white;
  font-size: 80px;
  transition: all 0.3s linear;
  text-align: center;
  text-transform: uppercase;
  /* font-weight: bold; */
}
.t2 {
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
  /* font-weight: bold; */
}
.t1h {
  font-family: "Hind Siliguri", sans-serif;

  color: white;
  transition: all 0.3s ease;
  font-size: 20px;
  text-transform: uppercase;
  /* font-weight: bold; */
}
.t2h {
  font-family: "Hind Siliguri", sans-serif;
  color: white;
  font-size: 20px;
  transition: all 0.3s linear;
  text-transform: uppercase;
  /* font-weight: bold; */
}

/* # # # # # # # # # IMG de la Carte  # # # # # # # # #  */

.fade {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fade img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  position: absolute;
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* # # # # # # # # # # # MODALE # # # # # # # # # # # # # # # # #  */

/* This represents the 3x3 grid start */
.gridprojects {
  /* border: 3px solid blue; */
  position: relative;
}

/* inside the modale. absolute position to gridprojects */
.modale {
  /* border: 2px solid purple; */
  animation: modale 1s ease;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.modale span {
  font-size: 10px;
  color: white;
}

/* image with a little opacity */
.modale > img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  object-fit: contain;
  left: 0;
  top: 0;
  background-color: white;
}

/* Description Contenair. Scrolling inside */
.description {
  /* border: solid 2px red; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.description::-webkit-scrollbar {
  display: none;
}
/* Actual text whith huge margin Top */
.description > div {
  position: relative;
  background-color: rgb(0, 0, 0, 0.8);
  /* opacity: 0.8; */
  padding: 5px 20px 0px 20px;
  margin-top: 89%;
  height: calc(100% - 5px);
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Rotate up the top >> */
.chevron {
  transform: rotate(-90deg);
}
.chevronDown {
  transform: rotate(90deg);
}

/* Writting inside description */
.description p {
  font-family: "Hind Siliguri", sans-serif;
  /* text-align: justify; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 12px;
  font-size: 16px;
  color: white;
  text-align: center;
  word-spacing: 2px;
}
/* titles inside description */
h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0 10px 0;
  color: white;
  text-align: center;
}
/* two buttons contenair */
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Button links */
.description a {
  background-color: #d8b4a0;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  opacity: 1;
  font-weight: bold;
  margin: 10px;
  font-size: 18px;
  transition: all 0.2s;
}

.description a:hover {
  background-color: #e4c4b3;
  transform: scale(1.05);
}

@keyframes modale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
  }
}

/* # # # # # # # # # # # # # # #  RESPONSIVE # # # # # # # # #  */

@media (max-width: 850px) {
  body {
    --sizeProject: 115px;
  }

  .header {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 4px;
  }

  .subtitle > span {
    letter-spacing: 8px;
    font-size: 15px;
  }

  .t1 {
    font-size: 50px;
  }
  .t2 {
    color: white;
    font-size: 10px;
    transition: all 0.3s ease;
    text-align: center;
    font-weight: bold;
  }
  .t1h {
    font-size: 13px;
  }
  .t2h {
    font-size: 13px;
  }

  /* DESCRIPTION */
  .description p {
    font-size: 10px;
    color: white;
  }

  .description a {
    background-color: #d8b4a0;
    border-radius: 3px;
    margin-top: 0px;
    padding: 5px 20px 5px 20px;
    opacity: 1;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
  }
  h2 {
    font-size: 14px;
    margin: 5px 0 5px 0;
  }
  .description > div {
    padding: 5px 5px 0px 5px;
  }

  .chevron {
    height: 20px;
  }

  .buttons {
    padding: 5px;
  }
}

/* Footer */

.footer {
  position: absolute;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 10px;
}

/*  Dice */
.dice {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  animation: appear 1.7s ease-in;
}

.trythis {
  color: rgba(46, 46, 46, 0.872);
  width: 70px;
  display: flex;
}

.trythis > div:nth-child(1) {
  animation: trythis1 1s infinite alternate;
}

.trythis > div:nth-child(2) {
  animation: trythis2 1s infinite alternate;
}
.trythis > div:nth-child(3) {
  animation: trythis3 1s infinite alternate;
}

@keyframes trythis1 {
  from {
  }
  to {
    transform: translateX(8px);
  }
}

@keyframes trythis2 {
  from {
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes trythis3 {
  from {
  }
  to {
    transform: translateX(12px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
