/* # # # # # # # # # RESET # # # # # # # # #  */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;

  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  color: var(--col2);
}

body {
  overflow: scroll;
  background-color: #fbf2ec;
  -webkit-tap-highlight-color: transparent;
  --sizeProject: 170px;
  --transTime: 1s;
  --col1: rgba(89, 87, 87, 0.872);
  --col2: rgba(46, 46, 46, 0.872);
  --bg: #fbf2ec;
}

/* # # # # # # # # # MAIN PAGE # # # # # # # # #  */

.app {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-bottom: 50px; */
  /* border: 2px solid red; */
  height: 100vh;
}

.header {
  font-size: 38px;
  color: rgba(46, 46, 46, 0.872);
  margin-top: 20px;
  letter-spacing: 10px;
  animation: appear 0.3s ease-in;
}

.subtitle {
  margin: 5px 0 0px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 10px;
  animation: appear 0.6s ease-in;
}
/* Selected project */
.subtitle > span {
  letter-spacing: 12px;
  font-size: 24px;
  color: rgba(89, 87, 87, 0.872);
}

.projectscontenair {
  width: calc((var(--sizeProject) * 3 - 5px));
  height: calc((var(--sizeProject) * 3 - 5px));
  animation: appear 0.8s ease-in;
  /* border: 1px blue solid; */
  position: relative;
}

/* # # # # # # # # # CART # # # # # # # # #  */

.project {
  position: absolute;
  transition: var(--transTime) cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((var(--sizeProject) - 5px));
  height: calc((var(--sizeProject) - 5px));
  background-color: #303030;
  overflow: hidden;
}
.cart:hover {
  cursor: pointer;
}

/* # # # # # # # # # # # MODALE # # # # # # # # # # # # # # # # #  */

/* This represents the 3x3 grid start */
.gridprojects {
  /* border: 3px solid blue; */
  position: relative;
  overflow: hidden;
}

/* inside the modale. absolute position to gridprojects */
.modale {
  /* border: 2px solid purple; */
  animation: 1.2s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.modale span {
  font-size: 10px;
  color: white;
}

/* image with a little opacity */
.modale > img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  object-fit: contain;
  left: 0;
  top: 0;
  background-color: white;
}

/* Description Contenair. Scrolling inside */
.description {
  /* border: solid 2px red; */
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.closeModal {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1000;
  cursor: pointer;
  transition: 0.1s;
}

.closeModal:hover {
  transform: scale(1.1);
}

.description::-webkit-scrollbar {
  display: none;
}
/* Actual text whith huge margin Top */
.description > div {
  position: relative;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 5px 20px 0px 20px;
  margin-top: 80%;
  height: calc(100% - 5px);
  min-height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */
}
/* Rotate up the top >> */
.chevron {
  transform: rotate(-90deg);
  transition: all 0.2s;
}
.chevronDown {
  transform: rotate(90deg);
}

/* Writting inside description */
.description p {
  font-family: "Hind Siliguri", sans-serif;
  /* text-align: justify; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 12px;
  font-size: 16px;
  color: white;
  text-align: center;
  word-spacing: 2px;
}
/* titles inside description */
h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0 10px 0;
  color: white;
  text-align: center;
}
/* two buttons contenair */
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Button links */
.description a {
  background-color: #d8b4a0;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  opacity: 1;
  font-weight: bold;
  margin: 10px;
  font-size: 18px;
  transition: all 0.2s;
  color: black;
}

.description a:hover {
  background-color: #e4c4b3;
  transform: scale(1.05);
}

/* Footer */

.footer {
  position: absolute;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 10px;
}

/*  Dice */
.dice {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  animation: appear 1.7s ease-in;
}

.trythis {
  color: rgba(46, 46, 46, 0.872);
  width: 70px;
  display: flex;
  font-weight: 500;
  transform: translateX(-20px);
  font-size: 15px;
  font-weight: 600;
}

.trythis > div:nth-child(2) {
  animation: trythis1 0.6s infinite alternate;
}

.trythis > div:nth-child(3) {
  animation: trythis2 0.6s infinite alternate;
}
.trythis > div:nth-child(4) {
  animation: trythis3 0.6s infinite alternate;
}

@keyframes trythis1 {
  from {
  }
  to {
    transform: translateX(8px);
  }
}

@keyframes trythis2 {
  from {
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes trythis3 {
  from {
  }
  to {
    transform: translateX(12px);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* # # # # # # #  VIDEO PLAYER */

.videobutton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #d8b4a0;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  opacity: 1;
  font-weight: bold;
  margin: 10px;
  font-size: 18px;
  transition: transform 0.2s;
  cursor: pointer;
  color: black;
}

.videobutton:hover {
  transform: scale(1.1);
}

.videoplayer {
  animation: slide3 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  z-index: 1000;
}

/* Initial state when entering */
.videoanim-enter {
  transform: translate(-100%, 0);
}
/* Entering state */
.videoanim-enter-active {
  transform: translate(0, 0);
  transition: transform 300ms;
}
/* Initial state when exiting */
.videoanim-exit {
  transform: translate(0, 0);
}
/* Exiting state */
.videoanim-exit-active {
  transform: translate(-100%, 0);
  transition: transform 300ms;
}

.controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.playcontainer {
  width: 40px;
  height: 30px;
}

.triangle-play-button {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 27px solid var(--diceCol2); /* Triangle color */
  cursor: pointer;
  transition: transform 0.2s;
}

.triangle-play-button-small {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid rgb(113, 138, 113); /* Triangle color */
  cursor: pointer;
  transition: transform 0.2s;
}

.triangle-play-button:hover {
  transform: scale(1.1);
}

.video-player input[type="range"] {
  cursor: pointer;
}

.pause-button {
  display: flex;
  gap: 6px;
}
.pause-button > div {
  width: 5px;
  height: 27px;
  background-color: var(--diceCol2);
  border-radius: 2px;
}

input[type="range"] {
  overflow: hidden;
  width: 140px;
  -webkit-appearance: none;
  background-color: var(--diceCol1);
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: var(--diceCol2);
  box-shadow: -80px 0 0 80px var(--diceCol2);
}

/* # # # # # # # # # # # # # # #  RESPONSIVE # # # # # # # # #  */

@media (max-width: 850px) {
  body {
    --sizeProject: 115px;
  }

  .header {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 4px;
  }

  .subtitle > span {
    letter-spacing: 8px;
    font-size: 15px;
  }

  .t1 {
    font-size: 45px;
    transition: all 0.5s;
  }
  .t2 {
    color: white;
    font-size: 10px;
    transition: all 0.3s ease;
    text-align: center;
  }
  .t1h {
    font-size: 12px;
  }
  .t2h {
    font-size: 12px;
  }

  .description p {
    font-size: 10px;
    color: white;
  }

  .description a {
    background-color: #d8b4a0;
    border-radius: 3px;
    margin-top: 0px;
    /* padding: 5px 20px 5px 20px; */
    opacity: 1;
    font-weight: bold;
    margin: 10px;
    font-size: 11px;
  }
  h2 {
    font-size: 14px;
    margin: 5px 0 5px 0;
  }
  .description > div {
    padding: 5px 5px 0px 5px;
  }

  .chevron {
    height: 20px;
  }

  .buttons {
    padding: 5px;
  }
  .videobutton {
    font-size: 11px;
  }
  .triangle-play-button {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid var(--diceCol2);
  }

  .triangle-play-button-small {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid rgb(113, 138, 113); /* Triangle color */
  }
}
